@import '../variables';
@import '../components/ErrorBlock.module';

.root {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-auto-rows: calc(260px + 32px + (1vw + 0.6rem) + (1vw + 0.4rem + 8px) * 3 + 16px + 32px + (1vw + 1.5em));
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 11px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 3fr);

    .errorBlock, .notFoundBlock {
      grid-column: 1 / span 3;
    }
  }

  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: calc(260px + 32px + (1vw + 0.8rem) + (1vw + 0.65rem + 8px) * 3 + 16px + 32px + (1vw + 1.5em));

    .errorBlock, .notFoundBlock {
      grid-column: 1 / span 2;
    }
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: calc(260px + 32px + (1vw + 0.8rem) + (1vw + 0.65rem + 8px) * 3 + 16px + 32px + (1vw + 1.5em));

    .errorBlock, .notFoundBlock {
      grid-column: 1 / span 1;
    }
  }

  .errorBlock {
    grid-column: 1 / span 4;
  }

  .notFoundBlock {
    margin: 40px 40px;
    text-align: center;

    grid-column: 1 / span 4;
    place-items: center;

    color: $silver-lake-blue;

    h2 {
      font-size: calc(1vw + 0.8rem);
      font-weight: 400;
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }
}
