@import './../variables';

.gameBlock {
  border-radius: $light-border-radius;
  background-color: $oxford-blue;
  width: 280px;
  max-height: 505px;
  height: 100%;
  margin-bottom: calc(1vw + 1.5em);
  text-align: center;
}
