$eerie-black: #252627;
$rich-black: #0D1B2A;
$oxford-blue: #1B263B;
$ylnmn-blue: #415A77;
$silver-lake-blue: #778DA9;
$platinum: 	#E0E1DD;
$snow: 	#FFF9FB;
$white: #FFF;

$container-width: 90%;
$border-radius: 30px;
$light-border-radius: 10px;

$popup-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);

$duration: 0.15s;