$eerie-black: #252627;
$rich-black: #0D1B2A;
$oxford-blue: #1B263B;
$ylnmn-blue: #415A77;
$silver-lake-blue: #778DA9;
$platinum: 	#E0E1DD;
$snow: 	#FFF9FB;
$white: #FFF;

$container-width: 90%;
$border-radius: 30px;
$light-border-radius: 10px;

$box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

$fast-transition-dur: 100ms;
$medium-transition-dur: 0.5s;
