@import './variables';

body {
  background-color: $rich-black;
  margin: 0;
  font-family: 'Manrope', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 40px auto;
  max-width: 1400px;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.content {
  padding: 20px;
}

.scrollToTopButton {
  cursor: pointer;
  position: fixed;
  z-index: 1001;
  width: calc(1vw + 1.5rem);
  height: calc(1vw + 1.5rem);
  margin: 8px;

  bottom: 10px;
  right: 10px;

  polygon, circle {
    stroke: $oxford-blue;
  }

  animation: fading $medium-transition-dur linear alternate;
  transition: $fast-transition-dur all ease-out;

  @media (max-width: 450px) {
    width: calc(1vw + 1.1rem);
    height: calc(1vw + 1.1rem);
  }

  &:hover {
    polygon, circle {
      stroke: $ylnmn-blue;
    }
  }
}

